---
import EventsCalendar from "@components/EventCalendar/";
import { LEAGUE } from "@content/constants";
import type { LeagueInfo } from "@lib/types";
import { capitalize, lowerCase } from "lodash-es";
import Legend from "./EventCalendar/Legend.astro";
import RecruitingDefinitions from "./EventCalendar/RecruitingDefinitions.astro";
import FontAwesomeIcon from "./FontAwesomeIcon";

export type Props = {
  league: LeagueInfo;
};

const { league } = Astro.props as Props;
---

<p>
  Thanks for checking our {league.typeFull} basketball league. You will find the
  rules and other important information about the league below. If you have any questions,
  please reach out to us on either <a
    href="https://join.slack.com/t/sibabball/shared_invite/zt-grkrrq9i-je57xB2Y7NGoPTh0GlKNNg"
    target="_blank"
    rel="noreferrer"
  >
    Slack</a
  >
  or <a
    href="https://twitter.com/SIBA_AveryINC"
    target="_blank"
    rel="noreferrer">Twitter</a
  >. And don&apos;t forget to <a href="/join">join</a>!
</p>

<h2 id="general-information">General Information</h2>
<ul>
  <li><b>League Name:</b> {league.name}</li>
  <li>
    <b>Program:</b> Draft Day Sports: {capitalize(league.type)} Basketball <b
      ><i>2021</i>
    </b> version {league.version} powered by <a
      href="https://www.wolverinestudios.com/"
      target="_blank"
      rel="noreferrer">Wolverine Studios</a
    >
    <ul>
      <li>
        Note: We are skipping DDS:{league.typeAbbv} 2022 and will move to DDS:{
          league.typeAbbv
        } 2023 once it becomes available.
      </li>
    </ul>
  </li>
  <li>
    <b>Export File Deadlines:</b>
    {league.simDays} at <b><i>4:00 PM CENTRAL TIME</i></b>
    <ul>
      <li>
        Note: After 4PM, there is no guarantee your changes will be included. Be
        sure to check when 4PM Central is in your timezone. This <a
          href="https://www.timeanddate.com/worldclock/converter.html?iso=20221121T030000&p1=tz_ct"
          target="_blank"
          rel="noreferrer">time zone converter</a
        > has been very reliable.
      </li>
    </ul>
  </li>
  <li>
    <b>How to Export Your File:</b>
    <ol>
      <li>Load the {league.abbv} association from the main menu</li>
      <li>
        Complete all changes for team ({
          league.type === LEAGUE.college && "recruiting, "
        }updating depth chart and strategy, talking with players, etc.)
      </li>
      {
        league.type === LEAGUE.pro && (
          <li>
            <b>
              <FontAwesomeIcon
                icon="fa-solid fa-floppy-disk"
                frontText="SAVE!"
              />
            </b>
          </li>
        )
      }
      <li>
        Go to your office (the <FontAwesomeIcon icon="fa-solid fa-briefcase" /> briefcase
        icon at the top)
      </li>
      <li>
        Click the {league.color} &quot;{
          league.type === LEAGUE.college && "Save & "
        }Export MP File&quot; button at the bottom right-hand corner
      </li>
    </ol>
  </li>
  <li>
    <b>How to Download the League File In-Game:</b>
    <ol>
      <li>
        On the main menu, click the &quot;Update Multiplayer League&quot; option
      </li>
      <li>
        Select and open the {league.abbv}.{lowerCase(league.typeAbbv)}b file
      </li>
      <li>Wait until the sign-in page appears</li>
      <li>Sign in</li>
    </ol>
  </li>
</ul>

<h2><b>Important Game Dates</b></h2>
{league.type === LEAGUE.college && <RecruitingDefinitions />}
<h3>Legend</h3>
<Legend league={league.type} />
<EventsCalendar league={league.type} client:load />
