---
import type { StrapiSingleTypeResponse, StrapiProInfo } from "@lib/types";
import { PRO_LEAGUE_INFO } from "@content/constants";
import { getDataFromApi, getFormattedDate } from "@lib/utils";
import { Content as RewardsIntro } from "@content/rewardsIntro.md";
import MarkdownLayout from "@layouts/MarkdownLayout.astro";

const proInfo = await getDataFromApi<StrapiSingleTypeResponse<StrapiProInfo>>(
  `${import.meta.env.PUBLIC_CMS_URL}/pro-info`
);
const teams = proInfo.data.attributes.teams;
const lastUpdated = proInfo.data.attributes.updatedAt;
---

<MarkdownLayout content={{ title: `${PRO_LEAGUE_INFO.abbv} Rewards` }}>
  <RewardsIntro />
  <h3>Current Team Reward Points</h3>
  <p><b>Last Updated:</b> {getFormattedDate(lastUpdated)}</p>
  <table>
    <tr>
      <th>Team</th>
      <th>Points</th>
    </tr>
    {
      teams?.map((team) => (
        <tr>
          <td>{team.name}</td>
          <td>{team.points}</td>
        </tr>
      ))
    }


  </table>
</MarkdownLayout>
