---
import FontAwesomeIcon from "@components/FontAwesomeIcon";
import { getEntry } from "astro:content";
import { capitalize } from "lodash-es";

export type Props = {
  league: "pro" | "college";
};

const { league } = Astro.props as Props;
const { data } = await getEntry("league", league);
---

<p>
  Thanks for checking our {data.longType} basketball league. You will find the rules
  and other important information about the league below. After reading through,
  please reach out to us if you have any questions. You can find us on <a
    href="https://discord.gg/ZkH4mzRkrm"
    target="_blank"
    rel="noreferrer">Discord</a
  > or <a
    href="https://twitter.com/SIBA_AveryINC"
    target="_blank"
    rel="noreferrer">Twitter</a
  >. Also, don't forget to <a href="/join">join</a>!
</p>

<h2 id="general-information">General Information</h2>

<ul>
  <li><b>League Name:</b> {data.longName}</li>
  <li>
    <b>Program:</b> Draft Day Sports: {capitalize(data.longType)} Basketball <b
      ><i>2023</i>
    </b> version {data.version} powered by <a
      href="https://www.wolverinestudios.com/"
      target="_blank"
      rel="noreferrer">Wolverine Studios</a
    >
  </li>
  <li>
    <b>Export File Deadlines:</b>
    {data.sims} at <b><i>4:00 PM CENTRAL TIME</i></b>
    <ul>
      <li>
        Note: After 4PM, there is no guarantee your changes will be included. Be
        sure to check when 4PM Central is in your timezone. This <a
          href="https://www.timeanddate.com/worldclock/converter.html?iso=20221121T030000&p1=tz_ct"
          target="_blank"
          rel="noreferrer">time zone converter</a
        > has been very reliable.
      </li>
    </ul>
  </li>
  <li>
    <b>How to Export Your File:</b>
    <ol>
      <li>Load the {data.name} association from the main menu.</li>
      <li>Sign in with your team.</li>
      <li>
        Complete all changes desired (e.g. {
          data.type === "college" && "recrutiing"
        } checking email, updating depth chart, chatting with players, etc.)
      </li>
      <li>
        Go to your office (the <FontAwesomeIcon icon="fa-solid fa-briefcase" /> briefcase
        icon at the top)
      </li>
      <li>
        Click the {data.color} &quot;{
          data.type === "college" && "Save & "
        }Export MP File&quot; button at the bottom right-hand corner
      </li>
    </ol>
  </li>
  <li>
    <b>How to Download the League File In-Game:</b>
    <ol>
      <li>
        On the main menu, click the &quot;Update Multiplayer League&quot;
        option.
      </li>
      <li>
        Select and open the <code>{data.name}{data.extension}</code> file.
      </li>
      <li>Wait until the sign-in page appears.</li>
      <li>Sign in with your team.</li>
    </ol>
  </li>
</ul>
@components/utils/FontAwesomeIcon
