---
import { LEAGUE } from "@content/constants";
import Layout from "@layouts/BaseLayout.astro";
import DownloadTimes from "@components/DownloadFileTime";
import { capitalize } from "lodash-es";

type Props = {
  league: LEAGUE;
};

const { league } = Astro.props as Props;
const leagueName = `SI${league === LEAGUE.college ? "C" : ""}BA`;
const title = `Download ${leagueName} (${capitalize(league)}) Program Files`;
const graphicsFile = `DDS${league === LEAGUE.college ? "C" : "P"}B2021`;

const leagueDownloads = { league: league, file: "league" };
const graphicsDownloads = { league: league, file: "graphics" };
---

<Layout content={{ title: title }}>
  <section class="content">
    <h1 id={`downloads-${league}`}>{title}</h1>
    <p>
      Below are the necessary files for the {league} league ({leagueName}). Make
      sure all your files are up to date.
    </p>
    <p>
      <b><a href={`/files/${leagueName}.zip`} download> League File:</a></b> This
      file runs all the simulation from the league. Add this to your own copy of
      the program so you have the most updated version of the league.
      <br />
      <i>Last Modified: <DownloadTimes {...leagueDownloads} client:idle /></i>
    </p>
    <p>
      <b
        ><a href={`/files/${league}/${graphicsFile}.zip`} download>
          Graphics File:</a
        ></b
      > This file runs all the simulation from the league. Add this to your own copy
      of the program so you have the most updated version of the league.
      <br />
      <i>Last Modified: <DownloadTimes {...graphicsDownloads} client:idle /></i>
    </p>
  </section>
</Layout>
