---
import { Content as Intro } from "@content/indexIntro.md";
import Layout from "@layouts/BaseLayout.astro";
import type { Article, SiteUpdate } from "@lib/global";
import { getDataFromApi, getFormattedDate } from "@lib/utils";

const updates = await getDataFromApi<SiteUpdate[]>(
  `${
    import.meta.env.PUBLIC_CMS_URL
  }/site-updates?_limit=5&_start=0&_sort=published_at:DESC`
);

const latestArticles = await getDataFromApi<Article[]>(
  `${
    import.meta.env.PUBLIC_CMS_URL
  }/articles?_limit=5&_start=0&_sort=published_at:DESC`
);
---

<Layout content={{ title: "Welcome" }}>
  <section class="content">
    <h1>Welcome</h1>
    <Intro />
  </section>
  <div class="columns content">
    <div class="column is-two-thirds">
      <h2>Updates</h2>
      {
        updates.map((u) => (
          <>
            <h3>{getFormattedDate(u.published_at)}</h3>
            <p>{u.content}</p>
          </>
        ))
      }
    </div>
    <div class="column">
      <h2>Latest Articles</h2>
      {
        latestArticles.map((a) => (
          <div class="mb-5">
            <p>
              <a class="is-size-5" href={`/news/article/${a.slug}`}>
                {a.title}
              </a>
              <br />
              <span class="is-size-7">
                {getFormattedDate(a.published_at)} · {a.author.name}
              </span>
            </p>
            <p>{a.summary}</p>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
