---
import { Content as Intro } from "@content/indexIntro.md";
import Layout from "@layouts/BaseLayout.astro";
import type { Article, SiteUpdate, StrapiCollectionResponse } from "@lib/types";
import { getDataFromApi, getFormattedDate } from "@lib/utils";
import { micromark } from "micromark";
import { Fragment } from "react";

const updatesResponse = await getDataFromApi<
  StrapiCollectionResponse<SiteUpdate>
>(
  `${
    import.meta.env.PUBLIC_CMS_URL
  }/site-updates?sort=createdAt:desc&pagination[pageSize]=5`
);
const updates = updatesResponse.data.map((u) => u.attributes);

const articlesResponse = await getDataFromApi<
  StrapiCollectionResponse<Article>
>(
  `${
    import.meta.env.PUBLIC_CMS_URL
  }/articles?populate=author&pagination[pageSize]=5&sort=publishedAt:desc`
);
const articles = articlesResponse.data.map((a) => a.attributes);
---

<Layout content={{ title: "Welcome" }}>
  <section class="content">
    <h1>Welcome</h1>
    <Intro />
  </section>
  <div class="columns content">
    <div class="column is-two-thirds">
      <h2>Updates</h2>
      {
        updates.map((u) => (
          <>
            <h3>{getFormattedDate(u.createdAt)}</h3>
            <Fragment set:html={micromark(u.content)} />
          </>
        ))
      }
    </div>
    <div class="column">
      <h2>Latest Articles</h2>
      {
        articles.map((a) => {
          const author = a.author.data.attributes;

          return (
            <div class="mb-5">
              <p>
                <a class="is-size-5" href={`/news/article/${a.slug}`}>
                  {a.title}
                </a>
                <br />
                <span class="is-size-7">
                  {getFormattedDate(a.publishedAt)} · {author.name}
                </span>
              </p>
              <Fragment set:html={micromark(a.summary)} />
            </div>
          );
        })
      }
    </div>
  </div>
</Layout>
