---
import JoinForm2 from "@components/JoinForm2";
import BaseLayout from "@layouts/BaseLayout.astro";
import type {
  Member,
  School,
  StrapiCollectionResponse,
  StrapiCollegeInfo,
  StrapiProInfo,
  StrapiSingleTypeResponse,
} from "@lib/types";
import { getDataFromApi } from "@lib/utils";
import { getEntry } from "astro:content";

const { data: proData } = await getEntry("league", "pro");
const { data: collegeData } = await getEntry("league", "college");

const collegeInfo = await getDataFromApi<
  StrapiSingleTypeResponse<StrapiCollegeInfo>
>(`${import.meta.env.PUBLIC_CMS_URL}/college-info`);
const schools: School[] = collegeInfo.data.attributes.teams || [];

const strapiCoaches = await getDataFromApi<StrapiCollectionResponse<Member>>(
  `${import.meta.env.PUBLIC_CMS_URL}/${
    collegeData.strapiMembers
  }?pagination[limit]=100`
);

const unavailableSchools = strapiCoaches.data.map(
  (member) => member.attributes.team
);
const availableSchools = schools.filter(
  (school) => !unavailableSchools.includes(`${school.name} ${school.mascot}`)
);

const proInfo = await getDataFromApi<StrapiSingleTypeResponse<StrapiProInfo>>(
  `${import.meta.env.PUBLIC_CMS_URL}/pro-info`
);
const proTeams = proInfo.data.attributes.teams;

const strapiGMs = await getDataFromApi<StrapiCollectionResponse<Member>>(
  `${import.meta.env.PUBLIC_CMS_URL}/${
    proData.strapiMembers
  }?pagination[limit]=100`
);

const unavailableProTeams = strapiGMs.data.map(
  (member) => member.attributes.team
);
const availableProTeams = proTeams.filter(
  (team) => !unavailableProTeams.includes(`${team.name} ${team.mascot}`)
);
---

<BaseLayout content={{ title: "Join" }}>
  <div class="content">
    <h1>Join</h1>
    <p>
      Interested in joining the SIBA as the general manager of your own
      professional basketball team or as the head coach of your own university
      basketball team? Fill out the form below, selecting your teams and coach,
      and one of the commissioners will take your information and add you to the
      league.
    </p>
  </div>
  <JoinForm2 pro={availableProTeams} college={availableSchools} client:load />
  <!-- <JoinForm
    proTeams={availableProTeams}
    schools={availableSchools}
    client:load
  /> -->
</BaseLayout>
