---
//import EventsCalendar from "@components/EventCalendar/";
import { LEAGUE } from "@lib/constants";
import type { LeagueInfo } from "@lib/types";
import { capitalize, lowerCase } from "lodash-es";
import Legend from "@components/EventCalendar/Legend.astro";
import RecruitingDefinitions from "@components/EventCalendar/RecruitingDefinitions.astro";
import FontAwesomeIcon from "@components/FontAwesomeIcon";

export type Props = {
  league: LeagueInfo;
};

const { league } = Astro.props as Props;
---

<p>
  Thanks for checking our {league.typeFull} basketball league. You will find the
  rules and other important information about the league below. If you have any questions,
  please reach out to us on either <a
    href="https://discord.com/invite/UqQh3zPBrV"
    target="_blank"
    rel="noreferrer"
  >
    Discord</a
  >
  or <a
    href="https://bsky.app/profile/siba-aisn.bsky.social"
    target="_blank"
    rel="noreferrer">Bluesky</a
  >. And don&apos;t forget to <a href="/join">join</a>!
</p>

<h2 id="general-information">General Information</h2>
<ul>
  <li><b>League Name:</b> {league.name}</li>
  <li>
    <b>Program:</b> Draft Day Sports: {capitalize(league.type)} Basketball <b
      ><i>2025</i>
    </b> version {league.version} powered by <a
      href="https://www.wolverinestudios.com/"
      target="_blank"
      rel="noreferrer">Wolverine Studios</a
    >
  </li>
  <li>
    <b>Export File Deadlines:</b>
    {league.simDays} at <b><i>4:00 PM CENTRAL TIME</i></b>
    <ul>
      <li>
        Note: After 4PM, there is no guarantee your changes will be included. Be
        sure to check when 4PM Central is in your timezone. This <a
          href="https://www.timeanddate.com/worldclock/converter.html?iso=20221121T030000&p1=tz_ct"
          target="_blank"
          rel="noreferrer">time zone converter</a
        > has been very reliable.
      </li>
    </ul>
  </li>
  <li>
    <b>How to Export Your File:</b>
    <ol>
      <li>Load the {league.abbv} association from the main menu</li>
      <li>
        Complete all changes for team ({
          league.type === LEAGUE.college && "recruiting, "
        }updating depth chart and strategy, talking with players, etc.)
      </li>
      {
        league.type === LEAGUE.pro && (
          <li>
            <b>
              <FontAwesomeIcon
                icon="fa-solid fa-floppy-disk"
                frontText="SAVE!"
              />
            </b>
          </li>
        )
      }
      <li>
        Go to your office (the <FontAwesomeIcon icon="fa-solid fa-briefcase" /> briefcase
        icon at the top)
      </li>
      <li>
        Click the &quot;Save & Export MP File&quot; button at the bottom
        right-hand corner
      </li>
    </ol>
  </li>
  <li>
    <b>How to Download the League File In-Game:</b>
    <ol>
      <li>
        On the main menu, click the &quot;Update Multiplayer League&quot; option
      </li>
      <li>
        Select and open the {league.abbv}.{lowerCase(league.typeAbbv)}b file
      </li>
      <li>Wait until the sign-in page appears</li>
      <li>Sign in</li>
    </ol>
  </li>
</ul>

<h2>Inactivity</h2>
<p>
  Between vacations, work, family, and outages, there may be times where you may
  have limited or no access to the computer/internet. If you will be away for
  longer than a week or two and would like the computer to temporarily control
  your team(s), please let one of the commissioners know (Kelley or Brittani)
  and we can switch your team(s) to &quot;Vacation Mode.&quot; Just let us know
  when you're back and we'll give you control back.
</p>

<p>
  However, if it has been a couple of months of inactivity (determined by lack
  of exports as shown on the {league.pageTitle} Exports chart on the <a
    href={`/${league.link}/downloads`}>downloads</a
  > page), we will reach out to you via Discord message and email. You will have
  a week to respond or to export a file. If you have not responded or exported after
  the week, your team(s) will be removed and made available for others. You can always
  rejoin later!
</p>

<h2 id="important-game-dates"><b>Important Game Dates</b></h2>
{league.type === LEAGUE.college && <RecruitingDefinitions />}
<h3>Legend</h3>
<Legend league={league.type} />
<!-- <EventsCalendar league={league.type} client:load /> -->
