---
import Layout from "@layouts/BaseLayout.astro";
import { Member, Schools } from "@lib/global.d";
import { getDataFromApi } from "@lib/utils";
import TierRanking from "@components/TierRanking";

const title = "SICBA Pre-Season Tier Rankings";

const schoolsData = await getDataFromApi<Schools>(
  `${import.meta.env.PUBLIC_CMS_URL}/schools`
);

const humanCoaches = await getDataFromApi<Member[]>(
  `${import.meta.env.PUBLIC_CMS_URL}/coaches`
);
---

<Layout content={{ title: title }}>
  <section class="content">
    <h1>{title}</h1>
    <p>
      All teams in SICBA are ranked and those rankings are used to determine the
      school&apos;s tier. #1–40 are Tier 1, #41–196 are Tier 2, and #197–353 are
      Tier 3. Points used for creating a coach&apos;s attributes are also
      determined by the tier of the school: 325 points (Tier 1), 240 points
      (Tier 2), 150 points (Tier 3). For more information, check the <a
        href="/college/rules"
        target="_blank"
        rel="noreferrer">SICBA Rules</a
      >.
    </p>
    <p>
      <b>NOTE:</b> Teams that are <span
        class="has-background-primary-light"
        style="padding: 0.2em;">highlighted</span
      > and have a head coach are unavailable. Teams that have an exclamation icon
      (<i class="fa-solid fa-circle-exclamation has-text-danger-dark"></i>) are
      on probation. <span class="is-hidden-touch">Hover over</span><span
        class="is-hidden-desktop">Click</span
      > the icon to view the details of the probation.
    </p>
  </section>
  <TierRanking coaches={humanCoaches} schools={schoolsData.data} client:load />
</Layout>
